{% layout "bloom" %}

<!-- show title unless we're showing brands -->
{% unless collection.title == 'Shop by Brand' or collection.title == 'Shop by Category' %}

{% paginate collection.products by 9 %}<!-- START EXCERPT -->
<div id="excerpt">
	<h1 class="title">{{ collection.title | escape }}</h1>{% if collection.description.size > 0 %}
	{{ collection.description }}{% endif %}
</div>
<!-- END EXCERPT -->
<!-- START PRODUCTS -->{% if collection.products.size > 0 %}

<ul id="products" class="clear">{% for product in collection.products %}
	<!-- START PRODUCT {{ forloop.index }} -->
	<li{% cycle '', '', ' class="end"' %}>
		<!-- START IMAGE -->
		<div class="image">
			<div class="align">
				<div><a href="{{ product.url | within: collection }}"><img src="{{ product.images[0] | product_img_url: "medium" }}" alt="{{ product.title | escape }}" /></a></div>
			</div>
		</div>
		<!-- END IMAGE -->
		<h3><a href="{{ product.url | within: collection }}">{{ product.title | escape | truncate: 25 }}</a></h3>
		<p>{{ product.price | money }}{% if product.compare_at_price_max > product.price %} <del>{{ product.compare_at_price_max | money }}</del>{% endif %}</p>
	</li>
	<!-- END PRODUCT {{ forloop.index }} -->{% endfor %}
</ul>{% else %}
<p id="empty">There are no products in this collection.</p>{% endif %}
<!-- END PRODUCTS -->{% if paginate.pages > 1 %}
<!-- START PAGINATE -->
<div id="paginate">
	{{ paginate | default_pagination }}
</div>


<!-- END PAGINATE -->{% endif %}{% endpaginate %}

{% else %}
<!-- Display Categories or Vendors -->

{% if collection.title == 'Shop by Brand' %}
<ul>
	<!-- Brand List -->
  {% assign vendor_list = '' %}
  {% for a_collection in collections %}
  {% paginate a_collection.products by 2000 %} 
    {% for product in a_collection.products %}
      {% if vendor_list contains product.vendor %}
      {% else %}
        <li>{{ product.vendor | link_to_vendor }}</li>
        {% capture temp %}{{ vendor_list }}{{ product.vendor }}{% endcapture %}{% assign vendor_list = temp %}
      {% endif %}
    {% endfor %}
  {% endpaginate %}
  {% endfor %}
</ul>
{% endif %}

{% if collection.title == 'Shop by Category' %}
<ul>
  <!-- Category List -->
  {% assign category_list = '' %}
  {% for a_collection in collections %}
  {% paginate a_collection.products by 2000 %} 
    {% for product in a_collection.products %}
      {% if category_list contains product.type %}
      {% else %}
        <li>{{ product.type | link_to_type }}</li>
        {% capture temp %}{{ category_list }}{{ product.type }}{% endcapture %}{% assign category_list = temp %}
      {% endif %}
    {% endfor %}
  {% endpaginate %}
  {% endfor %}
</ul>
{% endif %}

{% endunless %}